{% extends 'partials/base.html' %}
{% block title %} Page de coach {% endblock %}


{% block content %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            <div class="col-md-8">
                    <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="coll">oui</th>
                            <th scope="coll">non</th>
                            <th scope="coll">bien</th>
                            <th scope="coll">mal</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
    </div>
</div>
{% endblock %}